@import '../../../styles/base/colors';
@import '../../../styles/base/variables';
@import '../../../styles/utils/mixins';

.categories {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    margin: 0 10px 10px;
  }

  &-tag {
    padding: 15px 15px 15px 25px;
    display: flex;
    align-items: center;
    background-color: $color--white-darker;
    border-radius: 5px;
    transition: .3s;

    &:hover,
    &:focus {
      background-color: $color--white-violet;
    }

    &__label {
      color: $color--black;
    }

    &__button {
      margin-left: 10px;
    }
  }

  &-remove-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &__label {
      @include visually-hidden;
    }

    &__icon {
      svg {
        color: $color--grey;
      }
    }
  }
}
