@import '../../../styles/base/colors';
@import '../../../styles/base/variables';

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 200px;
  background-color: $color--white-darker;

  &-menu {
    margin: 0;
    display: column;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    &__item {
      margin-top: 10px;

      &--active {
        font-weight: bold;
      }

      a {
        color: $color--black;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $color--violet;
        }
      }
    }
  }
}
